@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.free_trial{
  color: #fff;
    width: 164px;
    padding: 14px 44px;
    background: linear-gradient(94.77deg,#ff008a 6.23%,#0082ff 95.59%);
    border-radius: 8px;
    border: none;
}
.fs_20{
  font-size: 20px !important;
}
.fs_18{
  font-size: 18px !important;
}
.pricing_header{
  font-weight: bold !important;
  color: rgb(32, 24, 8) !important;
}
.try_for_free{
  color: #fff !important;
  /* width: 164px; */
  padding: 14px 44px !important;
  background: linear-gradient(94.77deg,#ff008a 6.23%,#0082ff 95.59%) !important;
  border-radius: 8px !important;
  border: none !important;
}